
a,
a:hover {
    text-decoration: none !important;
}

h3.future:after{ 
	content: "";
	background: url(../images/line.png)0px 0px;
	width: 100% !important;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}

ul.callbacks_tabs.callbacks1_tabs {
    bottom: 5% !important;
    right: 10% !important;
    left: unset !important;
}

#toTop {
    display: block !important;
    visibility: hidden;
    z-index: 10000 !important;
}

.fixed {
    top: 0;
    z-index: 1000;
    position: fixed;
    transition: 0.4s;
    animation-duration: 1s;
}

h2.account-in:after {
    width: 100% !important;
}

.account input[type="submit"] {
    margin-left: 12em !important;
}

.content-order {
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    margin-top: 25px;
}

.content-header {
    color: #ee4d2d;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cart-item-content {
    width: 100%;
    height: 110px;
    line-height: 90px;
    position: relative;
    float: left;
    text-align: center;
}

.cart-item-content:after {
    content: '';
    display: block;
    border-bottom: 1px solid brown;
    width: 100%;
    bottom: 10px;
    position: absolute;
}

.img-content img {
    width: 80px;
    height: 80px;
}

.count-content .minus,
.count-content .plus{
    height: 25px;
    width: 30px;
    line-height: 15px;
}

.delete-item i {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.quatity-status {
    width: 30px;
    height: 25px;
    text-align: center;
    border: none;
}

.cart-order {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: fit-content;
    margin-bottom: 10px;
    margin: auto;
    font-weight: bold;
    
}

.cart-order button {
   width: fit-content;
   height: fit-content;
   padding: 0;
   margin: 0;
   border: none;
   margin-right: 30px;
}

.cart-order input[type="submit"] {
    width: 100px;
    height: 50px;
    background: red;
    color: white;
    text-align: center;
    border: 1px solid;
    outline: none;
}

.cart-order a,
.cart-order a:hover,
.cart-order a:active {
    display: block;
    width: 180px;
    height: 50px;
    background: red;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.total-status,
.price-status {
    width: 50%;
    border: none;
    text-align: right;
}

.total-status:focus,
.price-status:focus {
    outline: none;
}

.total-price {
    outline: none;
    border: 0;
    text-align: right;
}

.payment-method {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.payment_name {
    height: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}

.payment_name h4 {
    color: grey;
    font-size: 16px;
}

.payment_name img {
    width: 40%;
    display: block;
    margin: auto;
    padding: 10px 0;
}

.no-item {
    width: fit-content;
    margin: auto;
}

.time-receipt,
.order-status {
    outline: none;
    border: none;
    margin-top: -26px;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: gray;
    font-size: 14px;
}

.button {
    background: linear-gradient(to bottom, rgba(252, 94, 53, 1) 55%, rgba(252, 94, 53, 1) 55%, rgba(233, 71, 34, 1) 100%);
    color: #fff;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.5em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    width: 140px;
    height: 36px;
}

.button a {
    color: white;
    font-size: 14px
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f63;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0;
    z-index: 1;
    border-radius: 10px;
    top: 50px;
    left: -12px;
    opacity: 0;
}

.dropdown-content:before {
    content: '';
    position: absolute;
    width: 34px;
    height: 15px;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 12px solid #f63;
    top: -15px;
    left: 38%;
}
  
.dropdown:hover .dropdown-content {
    transition: 0.4s;
    opacity: 1;
    display: block;
}

.dropdown-content a {
    padding: 10px 0;
    text-decoration: none;
    display: block;
    padding: 1em 1em !important;
    font-size: 16px;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: #fbf2d3;
    color: #f63 !important;
}

.status-bill {
    outline: none;
    border: 0;
    text-align: center;
    width: 100%;
}

.check-user {
    color: red;
    line-height: 40px;
}